<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
		<title>3D Model Viewer</title>
		
		<meta name="description" content="" />
		<meta name="author" content="Jakub Mazanec" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="msapplication-tap-highlight" content="no" />
			
		<link rel="stylesheet" href="/build/client.css" type="text/css" />
	</head>

	<body>
		<div class="page uninitialized">%CONTENT%</div>

		<!-- %LANGUAGE% -->
		<!-- %SCRIPT% -->

		<script type="text/javascript" src="/build/client.js"></script>
	</body>
</html>
